.pageAccueil{
    height: 100vh;
    background-image: url("img/pexels-hasan-albari-1229861.jpg");

    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav
{
    margin: auto;
    position: fixed;
}

.navbartext{
    font-size: 20px;
    font-family: Palatino;

}


.material-symbols-outlined, .burgerNavbar
{
    border: none;
    color: white
}
 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }
 .NomPrenom{
     margin-top: 25vh;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 30px;
     font-family: "Academy Engraved LET";
 }

.textDev{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: Palatino;
}
.pageAcceuilPres{
    height: 70vh;
}


.imageVolatile{

    background-image: url("img/pexels-christina-morillo-1181271.jpg");

    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
